@page "/"
@inject ICategoryService CategoryService
@inject IProductService ProductService
@inject ISyncLocalStorageService LocalStorage
<br />
 <AuthorizeView>
    <NotAuthorized>
        <p class="smalltextwelcome"><b><u>Welcome to HalalOnTheGo - A halal butcher provider for our students</u> &#129385; &#127869;</b></p>
       <br />
        <br>
        <p class ="heyhungrystudent"><b><i>Hey there, hungry student! Ready to satisfy those taste buds? Dive into our meat selection tailored just for you! Login quick with your university credentials - we've streamlined it for busy bees like you! Click the <b><a href="/login">login</a></b> option in the nav menu above to purchase and let's get this culinary adventure started! &#129474;</i></b></p>
        <br>
        <p class="text">You are still free to browse our vast selection of premium halal butchered meats, with prices that are aimed directly at students only. <i><b>( Why not start at our HOT PICKS below! :)</b> )</i> </p>
        
    </NotAuthorized>
    <Authorized>
        <p class="smalltextwelcome"><b><u>Welcome back to HalalOnTheGo @LocalStorage.GetItemAsString("email")! - A halal butcher provider for our students</u> &#129385; &#127869;</b></p>
       <br />
        <br>
    <p class="text">We hope you find what you need!</p> 
    <p class="text"><b><i>Don't forget to check out some HOT PICKS below!</i></b></p>
    </Authorized>
</AuthorizeView>

<h3 class="home-title">Hot Picks &#128293;</h3>

<body>
    <div class="grid-container"> 
        <div class="homepage-item">
      @foreach (var product in ProductService.Products.Take(1))
    {
        
            <div class="media-img-wrapper">
                <a href="/product/@product.Id" style="text-decoration:none;">
                    <h4 class="mb-0"> @product.Title</h4>
                   <img class="media-img" src="@product.Image" alt="@product.Title" />
                    </a>
            </div>
           <div class="media-body">
               <a href="/product/@product.Id">
                   
               </a>
          <br>
          <br>
                <h5 class="price">
                   @GetPrice(product)
                </h5>
            </div>
        
    }
    </div>
    </div>
    <div class="homepage-item">
        @foreach (var product in ProductService.Products.TakeLast(1))
    {
            <div class="media-img-wrapper">
               <a href="/product/@product.Id" style="text-decoration:none;">
                    <h4 class="mb-0"> @product.Title</h4>
                   <img class="media-img" src="@product.Image" alt="@product.Title" />
                    </a>
            </div>
           <div class="media-body">
               <a href="/product/@product.Id">
                  
               </a>
          <br>
          <br>
          <br>
                <h5 class="price">
                   @GetPrice(product)
                </h5>
            </div>
        
    }

    </div>

    <div class="homepage-item">
        @foreach (var product in ProductService.Products.Skip(1).Take(1))
    {
          <div class="media-img-wrapper">
              <a href="/product/@product.Id" style="text-decoration:none;">
                   <h4 class="mb-0"> @product.Title</h4>
                   <img class="media-img" alt="@product.Title" src="@product.Image"  />
                    </a>
            </div>
           <div class="media-body">
               <a href="/product/@product.Id">
                  
               </a>
          <br>

                <h5 class="price">
                   @GetPrice(product)
                </h5>
            </div>
     
    }

    </div>

    <h3 class="home-title"> What We Provide</h3>

<p class="text">
  HalalOnTheGo caters to Sheffield students, providing convenient access to Halal meats. Whether you're well-versed in Halal cuisine or new to it, we've got you covered. Enjoy quality Halal options on the go!
</p>
<p>
 <i>Our diverse menu offers a wide range of options, from traditional favorites to modern twists, all prepared with the highest standards of Halal integrity. <a href="/about"><i><b>FIND OUT MORE!</b></i></a></i>
</p>
<p class="text"><b>WHY NOT TRY OUR LAMB LEG?</b></p>
<a href="/product/32"><img class="meatonhome" src=/Images/7-Day-LegLamb.png /></a>

<br />
<br />
<br />

    <h4 class="home-title">Our HALAL Promise</h4>
<p class="text">
    At HalalOnTheGo, we take pride in our Halal certification process, ensuring the utmost respect for Islamic dietary laws and principles.<a href="/halalcertification"><i><b>Our certification</b></i></a> involves rigorous adherence to Halal meat guidelines. 
</p>
<p class="text">We believe in transparency and openness with our customers. That's why we provide clear and accessible information about our Halal certification process, including the standards we adhere to and the steps we take to maintain compliance. This transparency builds trust and fosters long-term relationships with our valued customers.</p>
    
</body>

@code{
    private string GetPrice(Product product)
    {
        var variants = product.Variants;
        if (variants.Count == 0) // if the product has no variants
        {
            return string.Empty;
        }
        else if (variants.Count == 1) // if there is one vairant display default price
        {
            return $"£{variants[0].Price}";

        }
        decimal minPrice = variants.Min( v => v.Price); //if there is more than two display lowest price
        return $"Starting at £{minPrice}";

    }
}