@page "/product/{id:int}"
@inject IProductService ProductService
@inject ICartService CartService
@inject ILocalStorageService LocalStorage
@inject IToastService ToastService

<div class = "media"> 
    <h2 class="mb-0">@product.Title</h2>
    <div class = "media-img-big-wrapper mr-2">
        <img class = "media-img-big" src="@product.Image" alt="@product.Title" />
    </div>
    <div class = "media-body">
        <br />
        <br />
        <br />
        
      <p class="productdetailsDescription"><b><i>@product.Description</i></b></p>
      <br />
      <br />
        @if (product.Variants != null && product.Variants.Count > 0)
        {
            <div class ="form-group"> 
                <select class ="form-control" @bind="currentEditionId">
                    @foreach(var variant in product.Variants)   //SELECT A PRODUCT DROP MENU CODE BLOCK!  
                    {                                            
                        <option value="@variant.EditionId">@variant.Edition.Name</option>  //Pulls the Variants and the Editions in the DataContext!
                    }
                </select>
                </div>
        }
        @if (GetSelectedVariant() != null) // THIS IF BLOCK Gets The Price for different selected VARIANTS!!
        {
            @if (GetSelectedVariant().OriginalPrice > GetSelectedVariant().Price)
            {
                <br />
                <h6 class = "text-muted original-price ">£@GetSelectedVariant().OriginalPrice</h6>
            }
            <h4 class = "price">
                <br />
                £@GetSelectedVariant().Price
        </h4>
        }
        <EditForm Model="cartItem">
            <div class="form-group">
                 <p class="selectQuantityTextProdPage">SELECT QUANTITY</p>
                <InputNumber id="quantity" @bind-Value="cartItem.Quantity" class="form-control" style="width: 70px;"></InputNumber>
                <br />
               
            </div>

        </EditForm>
        <AuthorizeView>
            <Authorized>
                <button class = "btn btn-primary" @onclick ="AddToCart"><i class = "oi oi-cart"></i>&nbsp;&nbsp;&nbsp;Add To Cart</button>
            </Authorized>
            <NotAuthorized>
                <br />
               <p class="signintopurchasetext"><b><i>To purchase this product, please <a href="/login">sign in</a> using your university credentials. (This usually follows the @@university.ac.uk format)</i></b></p> 
            </NotAuthorized>
        </AuthorizeView>
        
    </div>

</div>

@code {
    private Product product = new Product();

    private int currentEditionId = 1;

    private CartItem cartItem = new CartItem { Quantity = 1 };

    [Parameter]
    public int Id { get; set; }

    //OnInitializedAsync() is an override method that gets called when the component is initialized asynchronously. It fetches product information from the ProductService based on the provided Id, and upon a successful retrieval, it sets the currentEditionId to the EditionId of the first variant in the product's list of variants, if any exist.

    protected override async Task OnParametersSetAsync()
    {
        product = await ProductService.GetProduct(Id);
        if(product.Variants.Count > 0)
        {
            currentEditionId = product.Variants[0].EditionId;
        }
    }


    // GetSelectedVariant() retrieves the product variant associated with the currently selected edition by querying the list of variants for a match based on the EditionId. If found, the matching variant is returned; otherwise, null is returned.

    private ProductVariant GetSelectedVariant()
    {
        var variant = product.Variants.FirstOrDefault(v => v.EditionId == currentEditionId);
        return variant;
    }

    private async Task AddToCart()
    {
        var productVariant = GetSelectedVariant();

        cartItem.EditionId = productVariant.EditionId;
        cartItem.EditionName = productVariant.Edition.Name;
        cartItem.Image = product.Image;
        cartItem.Price = productVariant.Price;
        cartItem.ProductId = productVariant.ProductId;
        cartItem.ProductTitle = product.Title;

        await CartService.AddToCart(cartItem);
    }

    } 
